<h3>Evaluations</h3>

<div>
	<ul>
		<li ng-repeat="evaluation in evaluations track by $index">
			<a ng-show="areOpen[$index]" ng-href="#/evaluation/{{ evaluation.ID }}">{{ evaluation.TemplateTitleIS }}</a>
		</li>
	</ul>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<div ng-show="admin">
		<h3>Leiðarvísir</h3>
			<ul>
				<li><a ng-href="#/templates">Fara í Template</a></li>
				<li><a ng-href="#/result/">Fara í Result</a></li>
			</ul>
		</div>
	</div>
</div>


<!--http://startbootstrap.com/templates/simple-sidebar.html#-->
