<h1>Evaluations</h1>

<div>
	<ul>
		<li ng-repeat="evaluation in evaluations track by $index">
			<a ng-show="areOpen[$index]" ng-href="#/evaluation/{{ evaluation.ID }}">{{ evaluation.TemplateTitleIS }}</a>
		</li>
	</ul>
</div>

<div class="container-fluid">
	<div class="row-fluid">
		<aside id="navBar" ng-show="admin">
			<ul>
				<li><a ng-href="#/templates">Go To Templates</a></li>
				<br><br>
				<li><a ng-href="#/result/">Go To result</a></li>
			</ul>
		</aside>
	</div>
</div>


http://startbootstrap.com/templates/simple-sidebar.html#