<div ng-show="view">
<h4>Old templates</h4>
	<ul>
		<li ng-repeat="template in templates">
			<a ng-href="#/templates/{{ template.ID }}">{{ template.TitleIS }}</a>
		</li>
	</ul>
	<button ng-click="newTemplate()">Nýtt Template</button>
	<div>
		<div>Veldu Opnunartíma </br>
			fuck you didnt work!
		</div>
		<div>
			Veldu Lokunartíma </br>
			fuck you didnt work!
		</div>
	</div>
</div>

<div ng-hide="view">

	<h1>{{ evaluation.TitleIS }}</h1>
<input ng-model="evaluation.TitleIS" ng-show="new" placeholder="Titillinn á kennslumatinu" class="form-control">

<p>{{ evaluation.TitleEN }}</p>
<input ng-model="evaluation.TitleEN" ng-show="new" placeholder="Enskur titilli á kennslumatinu" class="form-control">

<div class="form-group">
	<label for="textareaIntro" class="col-sm-2 control-label">Kynning</label>
	<div class="col-sm-10">
		<textarea ng-model="evaluation.IntroTextIS" placeholder="Íslensk kynning" class="form-control" id="textareaIntro"></textarea>
		<textarea ng-model="evaluation.IntroTextEN" placeholder="Ensk kynning" class="form-control" id="textareaIntro"></textarea>
	</div>
</div>

<div>
	<h2>Spurningar úr námskeiði</h2>

	<div ng-repeat="question in evaluation.CourseQuestions">

		<p ng-hide="new">{{ question.TextIS }}</p>
		<input ng-model="question.TextIS" ng-show="new" class="form-control" placeholder="Texti á spurningu" />

		<div ng-show="question.Type == 'multiple' || question.Type == 'single'">
			<p>Svarmöguleikar:</p>
			<ul ng-show="new">
				<li ng-repeat="answer in question.Answers track by $index">
					<input ng-model="question.Answers[$index]" ng-show="new"/>
				</li>
			</ul>

			<div ng-hide="new">
				<select ng-show="question.Type == 'multiple'">
  					<iput type="checkbox" ng-repeat="answer in question.Answers track by $index" value=$index>{{ answer }}
				</select>

				
					<input ng-show="question.Type == 'single'" ng-repeat="answer in question.Answers track by $index" type="radio" name="answer" value="answer">{{ answer }} <br>
<!--todo: names for each sigle question for extration-->
			</div>

			<button class="btn btn-mini" ng-show="new" ng-click="addAnswer(question)">Bæta við svarmöguleika</button>
			
			<form action="" ng-show="new">
			<input ng-model="question.Type" value="text" type="radio" name="question-type">Texti
			<input ng-model="question.Type" value="single" type="radio" name="question-type" checked>Eitt rétt svar
			<input ng-model="question.Type" value="multiple" type="radio" name="question-type">Mörg rétt svör
			</form>

		</div>

		<div ng-show="question.Type == 'text'">
			<p>Textaspurning</p>
		</div>
	</div>

	<button class="btn btn-mini" ng-show="new" ng-click="addCourseQuestion()">Bæta við spurningu</button>

	<h2>Spurningar um kennara</h2>
	<div ng-repeat="question in evaluation.TeacherQuestions">
		<p ng-hide="new">{{ question.TextIS }}</p>
		<input ng-model="question.TextIS" ng-show="new" class="form-control" placeholder="Texti á spurningu"/>
		<div ng-show="question.Type == 'multiple' || question.Type == 'single'">
			<p>Svarmöguleikar:</p>
			<ul ng-show="new">
				<li ng-repeat="answer in question.Answers track by $index">
					<input ng-model="question.Answers[$index]" />
				</li>
			</ul>
			
			<div ng-hide="new">
				<select ng-show="question.Type == 'multiple'">
  					<ipnut type="checkbox" ng-repeat="answer in question.Answers track by $index" value="{{answer}}">{{ answer }}</input>
				</select>

				<select ng-show="question.Type == 'single'">
					<input ng-repeat="answer in question.Answers track by $index" type="radio" name="answer" value={{answer}}>{{ answer }} <br>
				</select>
			</div>
			
			<button class="btn btn-mini" ng-show="new" ng-click="addAnswer(question)">Bæta við svarmöguleika</button>
			<form action="" ng-show="new">
			<input ng-model="question.Type" value="text" type="radio" name="question-type">Texti
			<input ng-model="question.Type" value="single" type="radio" name="question-type" checked>Eitt rétt svar
			<input ng-model="question.Type" value="multiple" type="radio" name="question-type">Mörg rétt svör
			</form>
		</div>
		<div ng-show="question.Type == 'text'">
			<p>Textaspurning</p>
		</div>
	</div>
	<button class="btn btn-mini" ng-show="new" ng-click="addTeacherQuestion()">Bæta við spurningu</button>
</div>
<button class="btn btn-mini" ng-click="submitTemplate()">Staðfesta</button>


</div>