<div ng-show="view">
	<h4>Gömul templates</h4>
	<ul>
		<li ng-repeat="template in templates track by $index">
			<p ng-click="templShow[template.ID] = !templShow[template.ID]">{{ template.TitleIS }}</p>
			<div class="slideDiv" data-slide-toggle="templShow[template.ID]" data-slide-toggle-duration="200" >
				<a ng-href="#/templates/{{ template.ID }}">Skoða</a>
				<a href="" ng-click="hideBool = true">Nota template</a>
				<div class="overlay" ng-show="hideBool"></div>
				<div class="dasModel" ng-show="hideBool">
					Mat byrjar: <input type="date" ng-model="dates[$index].startDate" required/>
					Klukkan: <input type="time" ng-model="dates[$index].startTime" required/>
					Mat endar: <input type="date" ng-model="dates[$index].endDate" required/>
					Klukkan: <input type="time" ng-model="dates[$index].endTime" required/>
					<input type="submit" value="Birta" ng-click="submitForm(template.ID, $index); hideBool = false">
					<a href="" ng-click="hideBool = false">X</a>
				</div>
			</div>
		</li>
	</ul>
	<button ng-click="newTemplate()">Nýtt Template</button>

</div>

<div ng-hide="view">

	<h1>{{ evaluation.TitleIS }}</h1>
	

	<!--p>{{ evaluation.TitleEN }}</p-->
	

	<!--div class="form-group"-->
		<!--label for="Intro" class="col-sm-2 control-label">Kynning</label-->
		<!--div class="col-sm-10"-->
		<h4 id="Intro">{{ evaluation.IntroTextIS }}</h4>
			<!--textarea ng-model="evaluation.IntroTextIS" placeholder="Íslensk kynning" class="form-control" id="textareaIntro"></textarea-->
			<!--textarea ng-model="evaluation.IntroTextEN" placeholder="Ensk kynning" class="form-control" id="textareaIntro"></textarea-->
		<!--/div>
	</div-->

	<div>
		<h2 >Spurningar úr námskeiði</h2> <!-- laga... /etta er i midjunni for some reason -->

		<div ng-repeat="question in evaluation.CourseQuestions">

			<p>Spurningin: {{ question.TextIS }}</p>
			
<!--p>{{ question.TextEN }}</p-->
 			<div ng-show="question.Type == 'multiple' || question.Type == 'single'">
				<p>Svarmöguleikar:</p>

				
			<form ng-show="question.Type == 'multiple'" ng-repeat="answer in question.Answers track by $index">
				<input type="checkbox">{{ answer.TextIS }}<br>
			</form>



			<label ng-show="question.Type == 'single'" class="theRadio" ng-repeat="answer in question.Answers track by $index">
				<input type="radio" name="ansC"> {{ answer.TextIS }}<br>
			</label>

				<!--todo: names for each sigle question for extration-->

			</div>

			<div ng-show="question.Type == 'text'">
				<p>Textaspurning</p>
			</div>
		</div>



		<h2>Spurningar um kennara</h2>
		<div ng-repeat="question in evaluation.TeacherQuestions">
			<p>Spurining: {{ question.TextIS }}</p>
			
			<div ng-show="question.Type == 'multiple' || question.Type == 'single'">
				<p>Svarmöguleikar:</p>
				
				<div>
					<form ng-show="question.Type == 'multiple'" ng-repeat="answer in question.Answers track by $index">
						<input type="checkbox">{{ answer.TextIS }}<br>
					</form>



					<label ng-show="question.Type == 'single'" class="theRadio" ng-repeat="answer in question.Answers track by $index">
						<input type="radio" name="ansC"> {{ answer.TextIS }}<br>
					</label>
				</div>

			</div>
			<div ng-show="question.Type == 'text'">
				<h5>Textaspurning</h5>
			</div>
		</div>

	</div>
<!-- koma þessu í gang, svo hann geti publishað án þess að þurfa að fara til baka
	<a href="" ng-click="hideBool = true">Nota template</a>
				<div class="overlay" ng-show="hideBool"></div>
				<div class="dasModel" ng-show="hideBool">
					Mat byrjar: <input type="date" ng-model="dates[$index].startDate" required/>
					Klukkan: <input type="time" ng-model="dates[$index].startTime" required/>
					Mat endar: <input type="date" ng-model="dates[$index].endDate" required/>
					Klukkan: <input type="time" ng-model="dates[$index].endTime" required/>
					<input type="submit" value="Birta" ng-click="submitForm(template.ID, $index); hideBool = false">
					<a href="" ng-click="hideBool = false">X</a>
				</div>
			</div>
-->
</div>